body{margin:0px;
	 padding:0px;
	 background:rgb(255,255,255);
	}
footer a {
	color: #000000;

}
#contenedor{
				width:100%;				
				background:rgb(250,250,250);
				box-shadow:0px 10px 15px rgba(0,0,0,0.1);
				padding:1px;
				float: left;
    			overflow: hidden;
			    display: block;
			    margin-top: 110px;		   
			    position: static;
			}
			p{
				text-align:justify;
				font-family:sans-serif;
				font-size:12px;
				color:rgb(100,100,100)
			}
			h1,h2,h3,h4{
				margin:0px;
				padding:0px;
				color:rgb(50,50,50);
				font-family:serif;
			}
			article p{
				padding-left:20px;
			}
			article{
				border-bottom:1px dashed grey;
				padding-top:10px;
				padding-bottom:10px;
			}
			h1{
				font-size:52px;
				text-decoration:none;
			}
			header a{
				text-decoration:none;
			}
			h2{
				font-size:18px;
			}
#articulos{
				width:65%;
				float:left;
			}
			aside{
				width:30%;
				float:right;
				background:rgb(240,240,240);
				padding:10px;
				height:800px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
}
input[type='text'] , input[type='password'],textarea {
	padding: 5px;
	border: 1px solid #E5E5E5;
	color: #999999;
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

.razon {
	margin: auto;
	width: 350px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
	background-color: rgb(250, 255, 189);
}

.comentario {
	margin: auto;
	width: 295px;
	height: 74px;
	max-width: 400px;
	line-height: 18px;
	color: #000000;
	background-color: #3498DB;
}

input:hover, textare|hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}
.permiso  {
		/*float: left;*/
		overflow: hidden; 
		margin-top: 15px;
		margin-bottom: 5px;
		width: 100%;
		font-size: 10px;
		background-color: #FFFFFF;
		padding: 5px;
		border-bottom: 1px solid #000;
}
.permiso label {
		display:block;
   	    font-weight: normal;
        margin-bottom: 5px;
        width: 100%;
        font-weight: bold;
        color: #000000;

}
.permiso p {
	float: left;
	font-size: 15px;
	margin-left: 5px;
	overflow: hidden;

}
.permiso select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #3498DB;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 295px;
}
.permiso input[type="file"] {
  cursor: pointer;
}

.permiso input[type="text"]{
	margin: auto;
	width: 295px;
	height: 30px;
	max-width: 400px;
	line-height: 18px;
	color: #000000;
	background-color: #3498DB;

}

.btn-sm {
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5;
    padding: 3px 9px;
}

.upload {
	width: 100%;
	height: 200px;
	overflow: hidden;

}
.upload select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #FFD062;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 200px;
}
.upload li{
	float: left;
	display: inline;
	width: 25%;
	height: 50px;

}

#id_horas_devueltas {
	width: 35%;
}
.upload input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.upload input[type="text"]:focus {
  outline: none;
}

.upload input[type="file"] {
  cursor: pointer;
}

.upload input[type="text"] {
  padding: 0;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.upload input[type="text"]:focus,
.upload input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
#permisos {
	overflow: hidden;
	width: 	%;
	height: 100%;
	background-color: #FFFFFF;
}
#main{
	margin-left: 3px;

}
/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6) repeat scroll 0 0 #1993fb;
    border-color: #1486f9 #0f7de9 #0d6acf; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}
.submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6) repeat scroll 0 0 #1993fb;
    border-color: #1486f9 #0f7de9 #0d6acf;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    height: 34px;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    width: 200px;
}
.submitaprueba {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6) repeat scroll 0 0 #1993fb;
    border-color: #1486f9 #0f7de9 #0d6acf;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    height: 34px;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    width: 200px;
}
.submitrechaza {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6) repeat scroll 0 0 #1993fb;
    border-color: #1486f9 #0f7de9 #0d6acf;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    height: 34px;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    width: 200px;
}
#comprobante{
	background:#ccf;
	margin-top: 10px;
	margin-bottom: 20px; 
	padding: 10px;
	width: 350px;
	height: 300px;
 	border: 1px #888888 solid;
	-moz-box-shadow: 14px 11px 19px 1px #888888;
	-webkit-box-shadow: 14px 11px 19px 1px #888888;
	box-shadow: 14px 11px 19px 1px #888888;
	font: 14px Tahoma, Geneva, sans-serif;
}
#resolucion{
	float: left;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px; 
	padding: 10px;
	width: 480px;
	-moz-box-shadow: 14px 11px 19px 1px #888888;
	-webkit-box-shadow: 14px 11px 19px 1px #888888;
	box-shadow: 14px 11px 19px 1px #888888;
	border: 1px #888888 solid;
	-moz-box-shadow: 14px 11px 19px 1px #888888;
	-webkit-box-shadow: 14px 11px 19px 1px #888888;
	box-shadow: 14px 11px 19px 1px #888888;
	font: 14px Tahoma, Geneva, sans-serif;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#resolucion p {
	margin-top:10px;
}
#comprobante div {
	margin: 5px; 
}
.resolut {
	margin-top: 10px;	
	font : 15px "Arial",Verdana, sans-serif;
	font-weight : normal;
}
.resolut li {
	padding: 3px;

}
#resolut{
font-size: 20px;
padding: 5px 5px 5px 25px;
}
#permisolist{
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}
#permisolist li{
    overflow: hidden;
    position: relative;
}
#permisolist a{
	text-decoration: none;
	display: block;
	padding:  25px;
	color: black;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#permisolist a:hover {
	background-color: #4b494c;
	color: #ffffff;
	
}
#permisousuario{
	float: left;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px; 
	padding: 10px;
	width: 95%;
	height: 95%;
	-moz-box-shadow: 14px 11px 19px 1px #888888;
	-webkit-box-shadow: 14px 11px 19px 1px #888888;
	box-shadow: 14px 11px 19px 1px #888888;
	font: 14px Tahoma, Geneva, sans-serif;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;


}
/*#permisousuario li:hover {
	color: black;
	background-color: rgb(221,221,221);
}*/
.mainNav{
	 float: left;
     overflow: hidden;
     width: 100%;
     height: 60px;
}
#solicitud{
	float: left;
	overflow: hidden;
	width: 500px;
	height: 500px;
	margin-left: 10px;
	-moz-box-shadow: 14px 11px 19px 1px #888888;
	-webkit-box-shadow: 14px 11px 19px 1px #888888;
	box-shadow: 14px 11px 19px 1px #888888;
	font: 14px Tahoma, Geneva, sans-serif;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

}
#solicitud p {
	margin-left: 5px;
}
#rojo{
	color: #FF0000;
	font-size: 21px;
	font-weight: bold;
}
#azul{
	color: #0D8DF5;
	font-size: 21px;
	font-weight: bold;
}
#verde{
	color: #40CF23;
	font-size: 21px;
	font-weight: bold;
}
.msg-error {
	background-color: #FDD1D0;
	background-image: url(/static/img/error.png);
	background-repeat: no-repeat;
	background-position: 320px 10%;
	border: 2px solid red;
}

.msg-exito {
	background-color: #B9F4B0;
	border: 2px solid green;
	background-image: url(/static/img/exito.png);
	background-position: 320px 10%;
	background-repeat: no-repeat;
}
.msg-comprobante {
	background-color: #FFFFFF;
	border: 2px solid #FFFD00;
	background-image: url(/static/img/bluefolder.png);
	background-position: 320px 10%;
	background-repeat: no-repeat;
}

.msg-licencia {
	color : #000;
	background-color: #FFFFFF;
	border: 2px solid #0023ff;
	background-image: url(/static/img/bluefolder.png);
	background-position: 320px 10%;
	background-repeat: no-repeat;
}
.msg-solicitud {
	background-color: #B3DBFB;
	border: 2px solid #0D8DF5;
}
.paginador{
	font-size: 14px;
}
#meses {
	float: left;
	border: 1px solid;
	margin-left: 10px;
	overflow: hidden;
	width: 120px;
	height: 60px;
	text-align: center;	
}
#meses:hover{

	background-color: #7EF6FD; 
}
#meses a{
	display: block;
	text-decoration: none;
}
#dias a{
	display: block;
	text-decoration: none;
}
.empty{border: 1px solid;
	margin: 2px;
	overflow: hidden;
	width: 120px;
	height: 60px;
	text-align: center;}
.day{border: 1px solid;
	margin: 2px;
	overflow: hidden;
	width: 120px;
	height: 60px;
	text-align: center;}
.current{
	overflow: hidden;
	float: left;
	margin-left: 10px;
	width: 120px;
	height: 60px;
	text-align: center;
	background-color: #E8D31D;
}
.current a{
	display: block;
	text-decoration: none;}
.month{
	margin-left: 10px;
}
#calendar{
	width: 100%;
	height: 100%;
}
#botonCalendario{
	margin-left: 50%;
	margin-top: 10px;

}

.usuarioactivo{
	float: right;
	color: #ffffff;
	padding-right: 10px;
}
.botones {
	height: 100%;
	width: 50%;
	overflow: hidden;
	margin: auto;
}
.botones button {
	margin: auto;	
	
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Seleccione archivo';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#devuelve{

	width: 800px;
	margin: 10px;
}
#frmpermiso {
	width: 300px;
	height: 90px;
	overflow: hidden;
	float: left;
}
.errorlist{
	font-weight: bold;
	font-style: italic;
	text-align: center;
	display: block;
	background-color: red;
	color: white;
	width: 280px;
	margin: auto;
}

.bgeneral {
	font-size: 12.5px;
}
.bgeneral th {
	text-align: center;	
}
.bgeneral td{
	padding: 3px;
}
.nombre{
	width: 200px;
}
.anulado{
	background-color: #FFB3B3 !important;
	color: black;
}
.anulado:hover {
	background-color: #CC6699 !important;
	color: black;
}

.rechazado{
	background-color: #FF8D00 !important;
	color: black;
}
.rechazado:hover {
	background-color: #FF8D00 !important;
	color: black;
}

.aprovado{
	background-color: #A1EACC !important;
	color: black;
}
.aprovado:hover {
	background-color: #A1EACC  !important;
	color: black;
}

.sinrevisar{
	background-color: #9BDAF7 !important;
	color: black;
}
.sinrevisar:hover{
	background-color: #9BDAF7 !important;
	color: black;
}

.TFtable{
	width:100%; 
	border-collapse:collapse;

}
.TFtable td{ 
	padding:7px; 
	border:#4e95f4 1px solid;

}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
	background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
	background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
	background: #dae5f4;
}
.horas{
	text-align: center;
}
.negrita{
	font-weight: bolder;
	font-size: 15px;
	color:#000000;
	background-color: #FFBA25;


}
.fechas {
	padding: 5px;
	height: 60px;
	overflow: hidden;
}
.fechas span {
	height: 27px;
}

.filtros{
	margin-left:10px; 

}
.filtros fieldset{
	margin-bottom: 10px;
}
.filtros label{
	font-size: 16px;
	display: inline-block;
	width: 230px;
	height: 33px;
  	margin-right:0.5em;
  	padding-top:6px;
  	text-align:left;  
}
.filtros select{
	padding:3px;
	margin-top: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #FFFFFF;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 200px;

}

.filtros li{

}

.botfiltro .btn {
	width: 120px;
}

.devhoras {
	width: 100%;
	
	overflow: hidden;

}
.devhoras select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 200px;
}
.devhoras li{
	float: left;
	display: inline;
	width: 25%;
}
.devhoras input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.devhoras input[type="text"]:focus {
  outline: none;
}

.devhoras input[type="file"] {
  cursor: pointer;
}

.devhoras input[type="text"] {
  padding: 0;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.DEVtable{
  width:25%;
  overflow: hidden;
  float: left; 
  border-collapse:collapse;
  font-size: 12px;
}
.DEVtable caption {
	font-size: 18px;
	text-align: center;
	color: black;
	font-weight: bold;

}
.DEVtable td{ 
  padding:7px; 
  border:#4e95f4 1px solid;

}
/* provide some minimal visual accomodation for IE8 and below */
.DEVtable tr{
  background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.DEVtable tr:nth-child(odd){ 
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.DEVtable tr:nth-child(even){
  background: #dae5f4;
}

.DEVtable a:link{
	text-decoration: none;
}
.DEVtable a {
	display: block;
	padding: 4px;
	text-align: center;	
}
.DEVtable a:hover{
	color: red;
	font-weight: bold;
}
.anulalst span{
	margin-right: 45%;
}

.hrsinput{
	width: 180px;
	padding-left: 10px;
}
.hrsdiv{
	margin-top: 41px;
}

.exito {
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-top: 15px;
	background-color:#D6F2E6;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	-moz-border-radius: 7px;
	-moz-box-shadow: 0 0 3px #999999;
	position:relative;	

}
/*.exito img {
	position:absolute;
	right: -11px;
	top: -11px;
	}*/

.exito h1 {
	font: 18px Arial;
	margin-bottom: 5px;

}

.exito p {
	margin-left: 5px;	
}	

.fechasfiltro{
	margin: auto;
	width: 650px;
}
.fechasfiltro h4{
	text-transform: lowercase;
}


.badgerechazado{
	 width: 25px;
     height: 22px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: red;
     font-weight: bold;
     color: white;
     display: inline-block;
     text-align: center;
    vertical-align: baseline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
	
}
.badgeaprobado{
	width: 25px;
    height: 22px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}
.badgesinrevisar{
	 width: 25px;
     height: 22px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #9BDAF7;
     font-weight: bold;
     display: inline-block;
     text-align: center;
    vertical-align: baseline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.badgeanulado{
	 width: 25px;
     height: 22px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #f39c12;
     color: #000000;
     font-weight: bold;
     display: inline-block;
     text-align: center;
    vertical-align: baseline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}
.badgerojo{
	background-color: red;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
}

.badge2{
	background-color: green;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
}

.badge3{
    background-color: #2c3e50;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
}
.badge4{
    background-color: green;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;    
    width: 100px;
}
.badge5{
    background-color: #1a75ff;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;    
    width: 100px;
}
.pxp h4{
	margin: 10px;

}
.panular {
	width: 800px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.panular li{
	display: inline;
	width: 200px;
	overflow: hidden;
	position: relative;
}

.npermiso{
	font-weight: bold;
	width: 100px;
	margin-right: 15px;

}
.nfuncionario{
	margin-right: 15px;

}
.funcionario {
	display: block;	
	font-weight: normal;
}
.funcionario a{
	text-decoration: none !important;
	color: #000000;
	display: block;
}
.funcionario:hover{
	background-color: yellow;

}

.fpermiso{
	margin-right: 15px;

}
.tpermiso{
	margin-right: 15px;

}

.detpermiso li{
	display: inline;
	overflow: hidden;
	position: relative;
	padding: 5px 5px 5px 25px;
}

.detpermisofecha{
	font-weight: bold;
	margin-right: 15px;

}
.detpermisoinicio{
	margin-right: 15px;
	width: 45px;
}
.detpermisoseparador{
	font-weight: bolder;
	width: 20px;
}

.detpermisofin{
	margin-left: 15px;
	width: 45px;
}
.cambiarusuario{
	width: 50%;
	overflow: hidden;
	float: left;
	border: 1px solid #ecf0f1;
	margin-left: 3px;
}
.cambiarusuario a{
	margin-left: 52%;
}
.mostrarocultar{
	width: 100%;
	font-weight: bolder;

}
.listapermisos{
	padding: 5px;
	border : 2px solid black;
	overflow: hidden;
	width: 100%;
}
.informe{
	font-size: 11px;
}
.ComentarioInforme{
	width: 250px;
	max-width: 250px;	
}
.correlativo{
	width: 40px;
	max-width: 40px;
}
.centrado{
	text-align: center;
}
.documentoadjunto {
	display: block;	
	font-weight: normal;
}
.documentoadjunto a{
	text-decoration: none !important;
	color: #000000;
	padding: 5px;	
}
.uploadcal{	
	height: 150px;
	width: 50%;
	background-color: #DFF2BF;
	color: #4F8A10;
	border: 1px solid;
	background-image:url(/static/img/knobs/PNG/KnobValidGreen.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: auto;
	-webkit-border-radius: 5px;
}
.uploadcal p {
	color: #4F8A10;
	margin-top: 3px; 
	margin-left: 5px;
	font: 20px Verdana;

}
header h5{
	margin-bottom: 20px;
}
.permisolst a {
	height: 40px;
}
.permisolst li{
	height: 40px;


}
.permisolst div{
	float: left;
	margin-right: 5px; 
	}

.nombrefuncionario{
	width: 200px;
	font-weight: bold;
}
.numeropermiso{
	width: 100px;
}
.fechapermiso{
	width: 150px;
}
.frmcomentario input[type=text] {

	width: 300px;
	
}
.imprimepermiso{
	float: right;
	margin-top: -25px;
}


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ff0000;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #000;
    margin-right: 0.5em;
  }
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
  }

.tablerl{
	width: 75% !important;
	border: 1px solid black;
	margin-top: 10px;
}
.tablerl td{
	width: 150px;
	border: 1px solid black;
	text-align: center;
}