{% extends "edt/base.html"%}
{% load staticfiles %}

{% block contenido %}

{% if usuario.rol.nivel_acceso == 0 %}
<div class='form-group'>
    <div class="row">                 
        <div class="col-lg-8">    
                                                                 
        </div>  
        <div class="col-lg-1">                            
            <a href="/anuladosEXCEL?{{query_string}}" class="btn btn-success btn-block" target="_blank">
                <img src="/static/img/xls.png" width="35" height="35">
            </a>                          
        </div>
        
        <div class="col-lg-1">                            
            <a href="/anuladosPDF?{{query_string}}" class="btn btn-success btn-block" target="_blank">
                <img src="/static/img/pdf.png" width="35" height="35">
            </a>                          
        </div>                                                    
    </div>
</div>


<div class="filtros">
  <form id="horas" class="form-horizontal" method="get">
  <fieldset>
  <ul>
    <li>
      <label class="label label-primary" > Funcionario</label>
      <select name="persona" >
        <option value="0">Seleccione Funcionario</option>
        {% for persona in usuarios_filtro %}  
        <option value="{{persona.id}}" {% if persona.usuario_activo %}selected{% endif %}> {{persona}}  <!--{{persona.usuario_activo}}--> </option>
        {% endfor %}
      </select>
    </li>
    <li>
      <label class="label label-primary" >Estamento</label>
      <select name="estamento">
        <option value="0">Seleccione Estamento</option>
        {% for estament in estamento_filtro %}
        <option value="{{estament.id}}" {% if estament.estamento_activo %}selected{% endif %}> {{estament}}<!-- -{{estament.estamento_activo}} --> </option>
        {% endfor %}
      </select>
    </li> 
    <li class="botfiltro">
      <input class=" btn btn-success" type="submit" value="Filtrar" id="filtrar" name="filtrar" />
      <input class=" btn btn-danger" type="submit" value="Quitar Filtros" id="limpiar" name="limpiar" />

    </li>
  </ul>
  </fieldset> 
  </form>
</div> 
 {% endif %}


<table class="table table-hover  table-bordered">
  <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Numero de Permiso</th>
        <th>Solicitante</th>
        <th>Anulador</th>
        <th>Motivo</th>
        <th>fecha</th>
      </tr>
    </thead>
  
   {% for anulado in anulados %}
  <tr>
     <td>{{forloop.counter}}</td>
     <td><a class="list-group-item btn btn-info" href="{% url 'edt.views.verpermiso2' anulado.permiso.pk %}">{{anulado.permiso.id}}</a></td>
     <td >{{anulado.permiso.usuario}}</td>
     <td>{{anulado.anuladopor}}</td>
     <td>{{anulado.motivo}}</td>
     <td>{{anulado.fecha|date:"d F Y"}}</td>
  </tr>
   {% empty %}
    <tr>
      <td colspan="4">En este momento no hay ningun elemento para mostrar</td>
    </tr>
   

   {% endfor %}
    
</table>
   <nav>
      {% if anulados.has_previous %}
        <a href="?page={{ anulados.previous_page_number }}">Página anterior</a>
      {% endif %}
      <p class="paginador">Página {{ anulados.number }} de {{ anulados.paginator.num_pages }}</p>
      {% if anulados.has_next %}
      <a href="?page={{ anulados.next_page_number }}">Página siguiente</a>
      {% endif %} 
    </nav>


 
<!-- <div class="pxp" ><h4>Permisos Anulados</h4>
	
	<ul class="list-group">
	{% for permiso in permisos_list %}

	<li>
    <a class="list-group-item" href="{% url 'edt.views.verpermiso2' permiso.pk %}">

     N° {{permiso.id}} - {{ permiso.usuario.nombre }} {{ permiso.usuario.apellido1 }} {{ permiso.primerEvento.numero_evento.start |date:"d F Y" }}  | {{permiso.tipo}} 
     <span class="badge3">{{permiso.usuario.jefatura.nombre}}</span> 
           
    </a>		
	</li>

	{% empty %}
    <li class="list-group-item">En este momento no hay ningun elemento para mostrar</li>

	{% endfor %}
	</ul>
 
		    <nav>
			{% if permisos.has_previous %}
				<a href="?page={{ permisos.previous_page_number }}">Página anterior</a>
			{% endif %}
			<p class="paginador">Página {{ permisos.number }} de {{ permisos.paginator.num_pages }}</p>
			{% if permisos.has_next %}
			<a href="?page={{ permisos.next_page_number }}">Página siguiente</a>
			{% endif %} 
	        </nav>
</div> -->	        
{% endblock  %}
