{% extends "edt/base.html" %}
{% load staticfiles %}
{% block contenido %}
<h4>Informe de horas a devolución</h4>
<div>
<form id="horas" class="form-horizontal" method="get">
<select name="persona">
	{% for persona in usuarios_filtro %}	
		<option value="{{persona.id}}">{{persona}}</option>
	{% endfor %}
</select>

<!-- <select name="estamento">
  {% for estamento in estamento_filtro %}
  <option value="{{estamento.id}}">{{estamento}}</option>
  {% endfor %}
</select> -->
<input id="periodpickerstart" type="text" name="start" value="{{start}}"/>
<input id="periodpickerend" type="text" name="end" value="{{end}}"/>  
<input class=" btn-success " type="submit" value="Filtrar" id="filtrar" name="filtrar" />
<input class=" btn-danger " type="submit" value="Quitar Filtros" id="limpiar" name="limpiar" />
</form>            
{% if usuarios %}
  <table class=" table-bordered table-hover bgeneral TFtable" >
            <thead>
                <tr>
                  
                  <th class="nombre">Nombre</th>
                  <th>Estamento</th>
                  <th>Horas solicitadas</th>
                  <th>Horas Aprobadas</th>
                  <th>Horas Rechazadas</th>
                  <th>Horas a Recuperar</th>
                  <th>Horas Recuperadas</th>
                  <th>Horas pendientes de Recuperación</th>
                  <th>Horas a descontar</th>
                  
                </tr>
              </thead>
            <tbody>   
  {% for usuario in usuarios %}     
            <tr {% if  permiso.ultimaBitacora.actividad.nombre == 'Anulado' %} class='anulado' {% endif %} >
                <td>{{usuario.apellido1}} {{usuario.apellido2}} {{usuario.nombre}}</td>                
                <td>{{usuario.estamento.nombre}}</td>
                <td class="horas">{{usuario.total_horas}}</td>
                <td class="horas">{{usuario.aprobadas}}</td>
                <td class="horas">{{usuario.rechazadas}}</td>
                <td class="horas">{{usuario.devolver}}</td>           
                <td class="horas">{{usuario.devueltas}}</td>
                <td class="horas">{{usuario.saldo}}</td>
                <td class="horas">{{usuario.descontar}}</td>              
            </tr>       

            <!-- <tr>
                <td>{{resolucion.id }}</td>
                <td>{% if resolucion.ultimaResolucion %} {{ resolucion.ultimaResolucion.get_respuesta_display }}  {% endif %}</td>
                <td></td>
                <td></td>

            </tr> -->

  {% empty %}
      <tr>
        <td class="list-group-item">En este momento no hay ningun elemento para mostrar</td>
      </tr>
        {% endfor %}           
        </tbody>    
    </table>
  </ul>
  {# .... **Comienzo de la paginacion** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><img width="25px" height="25px" src='/static/img/back.png' alt='Volver'/></a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><img width="25px" height="25px" src='/static/img/next.png' alt='Siguiente'/></a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endif %}

</div>

<script>

jQuery('#periodpickerstart').periodpicker({
 end: '#periodpickerend', 
 lang :'es',
 resizeButton: false, // deny resize picker
 fullsizeButton: false,
 fullsizeOnDblClick: false,

 timepicker: true, // use timepicker
 timepickerOptions: {
    hours: true,
    minutes: true,
    seconds: false,
    ampm: true
  },
 formatDateTime: 'YYYY-MM-DD HH:mm:ss',
 cells: [1, 3],

});
</script>
{% endblock  %}

