{% extends "edt/base.html"%}
{% load staticfiles %}

{% block contenido %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div id="permisousuario" class="msg-comprobante">
<ul class="list-group">
	<li class="list-group-item"><h4>Comprobante de {{permiso.tipo}} N° {{permiso.id}} </h4></li>
	<li class="list-group-item">Solicitante : {{permiso.usuario.nombre}} {{permiso.usuario.apellido1}}</li>
	<li class="list-group-item">Rut : {{permiso.usuario.rut}}-{{permiso.usuario.dv}}</li>
	<li class="list-group-item">Fecha Solicitud : {{permiso.fecha_creacion}}</li>
	<li class="list-group-item">Motivo : {{permiso.motivo.nombre}}</li>
	<li class="list-group-item">Comentario : {{permiso.comentario}}</li>
	<li class="list-group-item">Cantidad de horas solcitadas : {{permiso.horas_solicitadas}}</li>
	<li class="list-group-item">Devuelve Horas : {{permiso.get_devuelve_horas_display }}</li>
	<li class="list-group-item">Con o sin goce de sueldo : {{permiso.get_sueldo_display }}</li>
	<li class="list-group-item">Reemplazante : {{permiso.reemplazante}}</li>
	<li class="list-group-item">Archivo Adjunto : {% if permiso.documento_adjunto.name %} <a target="_blank" href="/media/{{permiso.documento_adjunto}}">Ver Documento</a> {% else %} Sin documento adjunto{% endif %} </li>
</ul>

<ul class="list-group">
	<li class="list-group-item active"  ><h4 style="color:#FFFFFF !important;">Detalle de Solicitud</h4></li>
	{% for eventoObj in permiso.eventos_en_permisos_set.all %}	

	<li class="list-group-item" >
	<span class="badge">{{eventoObj.delta}}</span>
		{{eventoObj.numero_evento.start|date:"D d M "}}{{"   "}}{{eventoObj.numero_evento.start|timezone:"Brazil/DeNoronha"|date:"G:i"}}{{"-"}} {{eventoObj.numero_evento.end|timezone:"Brazil/DeNoronha"|date:"G:i"}}</li>
	{% endfor %}
	<li class="list-group-item" >
	<span class="badge">{% if permiso.usuario.jefatura.id == 1 or permiso.usuario.jefatura.id == 6 or permiso.usuario.jefatura.id == 7 %}Total{{"  "}}{{permiso.horas_solicitadas}} {% else %}
							   Total{{"  "}}{{permiso.horas_solicitadas}}{{"  Bloques Solicitados"}} 
				        {% endif %}</span>
	</li>
</ul>

</div>

{% endblock  %}

