{% extends "edt/base.html"%}
{% load staticfiles %}

{% block contenido %}

{% if usuario.rol.nivel_acceso == 0 %}
<div class='form-group'>
    <div class="row">                 
        <div class="col-lg-8">    
                                                                 
        </div>  
        <div class="col-lg-1">                            
            <a href="/descontadosEXCEL?{{query_string}}" class="btn btn-success btn-block" target="_blank">
                <img src="/static/img/xls.png" width="35" height="35">
            </a>                          
        </div>
        
        <div class="col-lg-1">                            
            <a href="/descontadosPDF?{{query_string}}" class="btn btn-success btn-block" target="_blank">
                <img src="/static/img/pdf.png" width="35" height="35">
            </a>                          
        </div>                                                    
    </div>
</div>


<div class="filtros">
  <form id="horas" class="form-horizontal" method="get">
  <fieldset>
  <ul>
    <li>
      <label class="label label-primary" > Funcionario</label>
      <select name="persona" >
        <option value="0">Seleccione Funcionario</option>
        {% for persona in usuarios_filtro %}  
        <option value="{{persona.id}}" {% if persona.usuario_activo %}selected{% endif %}> {{persona}}  <!--{{persona.usuario_activo}}--> </option>
        {% endfor %}
      </select>
    </li>
    <li>
      <label class="label label-primary" >Estamento</label>
      <select name="estamento">
        <option value="0">Seleccione Estamento</option>
        {% for estament in estamento_filtro %}
        <option value="{{estament.id}}" {% if estament.estamento_activo %}selected{% endif %}> {{estament}}<!-- -{{estament.estamento_activo}} --> </option>
        {% endfor %}
      </select>
    </li> 
    <li class="botfiltro">
      <input class=" btn btn-success" type="submit" value="Filtrar" id="filtrar" name="filtrar" />
      <input class=" btn btn-danger" type="submit" value="Quitar Filtros" id="limpiar" name="limpiar" />

    </li>
  </ul>
  </fieldset> 
  </form>
</div> 
 {% endif %}

<div><h1>Horas Descontadas</h1></div>
<table class="table table-hover  table-bordered">
  <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Numero de Permiso</th>
        <th>Solicitante</th>
        <th>Cantidad Descontada</th>
        <th>Descontado Por</th>
        <th>Fecha de Descuento</th>
      </tr>
    </thead>
  
   {% for descontado in descontados %}
  <tr>
     <td>{{forloop.counter}}</td>
     <td><a class="list-group-item btn btn-info" href="{% url 'edt.views.verpermiso2' descontado.permiso.pk %}">{{descontado.permiso.id}}</a></td>
     <td >{{descontado.permiso.usuario}}</td>
     <td class="font-weight-bold text-center">{{descontado.cantidad}}</td>
     <td>{{descontado.ingresadopor}}</td>
     <td>{{descontado.fecha|date:"d F Y"}}</td>
  </tr>
   {% empty %}
    <tr>
      <td colspan="5">En este momento no hay ningun elemento para mostrar</td>
    </tr>
   

   {% endfor %}
    
</table>
   <nav>
      {% if descontados.has_previous %}
        <a href="?page={{ descontados.previous_page_number }}">Página anterior</a>
      {% endif %}
      <p class="paginador">Página {{ descontados.number }} de {{ descontados.paginator.num_pages }}</p>
      {% if descontados.has_next %}
      <a href="?page={{ descontados.next_page_number }}">Página siguiente</a>
      {% endif %} 
    </nav>
        
{% endblock  %}
