{% extends  "edt/base.html" %}
{% load staticfiles %}

{% block contenido %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#devolver").click(function(e){  
      if( !$("#main input[name='permisoid']:radio").is(':checked')) {        
        swal("Atención","Seleccione un permiso", "error");
          e.preventDefault(e);
      }else{
               var permisoid = $('input:radio[name=permisoid]:checked').val();
               var horas_por_devolver = $('input:radio[name=permisoid]:checked').data("valor2"); 
               var horas_devueltas = $('input[name=horasdevolver]').val();


               console.log(permisoid);
               console.log(typeof horas_por_devolver);
               console.log(typeof horas_devueltas);
               console.log(horas_por_devolver);
               horas_por_devolver = horas_por_devolver.replace(',', '.');
               horas_por_devolver = parseFloat(horas_por_devolver);
               horas_devueltas = parseFloat(horas_devueltas);
               horas_por_devolver = horas_por_devolver.toFixed(2);

               console.log(typeof horas_por_devolver);
               console.log(horas_por_devolver);
               console.log(typeof horas_devueltas);
               console.log(horas_devueltas);

               if ((horas_devueltas > horas_por_devolver)){
                  if((horas_devueltas == horas_por_devolver)){
                      console.log(permisoid);
                  }else{
                        swal("Atención", "Las horas ingresadas exceden a las horas pendientes por devolver", "error");
                        e.preventDefault(e);
                }
               }
               if (horas_devueltas <= 0 || horas_devueltas==null || !horas_devueltas){
                swal("Atención","Las horas a devolver deben ser mayor que 0", "error");
                e.preventDefault(e);
               }
           }          
    });
   });
</script>

{{form.errors}}

<h3>Devolución de horas</h3>
<h5>Seleccione Funcionario y permiso asociado a horas a devolver</h5>
<div class="cambiarusuario list-group-item">
  <a href="http://cal.cdegaulle.cl/devolver" class="btn btn-warning btn-sm">Seleccionar otro funcionario</a>
</div>

<form id="main" class="form-horizontal"  method="post" > {% csrf_token %}
  <div class="devhoras">  
    <ul class="list-group">
       <li class="list-group-item">
          <label class="label label-primary" > Funcionario</label>
          <select name="usuario" >
               <option value="0">Seleccione Funcionario</option>
            {% for usuario in usuarios %}  
               <option value="{{usuario.id}}" {% if usuario.usuario_activo %}selected{% endif %}> {{usuario}}  <!--{{usuario.usuario_activo}}--> </option>
            {% endfor %}
          </select>
       </li>
      
       <li class="list-group-item">
         <button {% if permisos %} disabled {% endif %} type="submit"  name="seleccionar" value="seleccionar" class="btn btn-success btn-sm" >Seleccionar</button>
       </li>
    </ul>
  </div>

{% if horas %}
<hr>
<div>
  <table class=" table-bordered table-hover bgeneral DEVtable" >
    <caption>Permisos</caption>
            <thead>
                <tr>                  
                  <th></th>
                  <th>N° Permiso - click para ver</th>                              
                  <th>Horas solicitadas</th>
                  <th>Horas por devolver</th>
                  <th>Horas devueltas</th>
                
                  
                </tr>
              </thead>
            <tbody>   
  {% for horas in horas %}     
            <tr {% if  horas.permiso.ultimaBitacora.actividad.nombre == 'Anulado' %} class='anulado' {% endif %} >
                <td><input type="radio" value="{{horas.permiso.id}}" id="{{horas.permiso.id}}" name="permisoid" data-valor="{{horas.horas_solicitadas}}" data-valor2="{{horas.horas_por_devolver}}"></td>
                <td><a  href="{% url 'edt.views.verpermiso2' horas.permiso.pk %}">{{horas.permiso.id}}</a></td>                  
                <td class="horas">{{horas.horas_solicitadas}}</td>
                <td class="horas">{{horas.horas_por_devolver}}</td>
                <td class="horas">{{horas.horas_devueltas}}</td>                           
            </tr>
    {% empty %}
  <td >En este momento no hay ningun elemento para mostrar</td>         
  {% endfor %}           
        </tbody>    
    </table>
 </div>
 <div class="DEVtable hrsdiv">      
  <div class="form-group">
  <fieldset>  
    <label class="col-md-1 control-label" for=""></label>  
        <div class="">
          <input name="horasdevolver" id="horasdevolver" type="number" placeholder="Horas a devolver" class="form-control input-md hrsinput" step="any">      
        </div>
  </div>
<!-- Button -->
<div class="form-group">
   <label class="col-md-1 control-label" for="devolver"></label>
  <div class="">
    <button id="devolver" name="devolver" value="devolver" class="btn btn-danger btn-sm">Devolver</button>
  </div>
</div>
</fieldset>
</div>
</form>    
{% endif %}

{% endblock %}