<!DOCTYPE html>
<html>
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Solicitud</title>

</head>
 
<body bgcolor="#ECF8FF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#ECF8FF" width="100%">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#ECF8FF">
					<tr> 
						<td><img src="http://rrhh.cdegaulle.cl/static/img/escudo_lycee2.png" width="186" height="153" /></td>
						<td align="right"><h6 class="collapse">SCPA</h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" width="100%">
	<tr>
		<td></td>
		<td class="container" >

			<div class="content">
			<table width="100%">
				<tr>
				  <td bgcolor="#ECF8FF">
						<h3>Estimado {{nombre}} {{apellido}}</h3>
					<p class="callout">El permiso numero {{numero}} de {{horas}} hora(s) ha sido solicitado exitosamente.<br>
						</p>
						<!-- Callout Panel -->
	
					  
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" width="100%">
	<tr bgcolor="#ECF8FF">
		<td></td>
		<td class="container">Este correo ha sido generado de forma automática por favor no responder.
        </td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
