{% extends "edt/base.html"%}
{% load staticfiles %}
{% block contenido %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

<style type="text/css">
	form{
		border: 1px solid #ced4da;
		border-radius: 5px;
		margin-left: 5px;
		margin: auto;
		padding: 10px;
		width: 600px;
		font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

 	input[type="text"] {
	 	 width: 350px;
	  	 display: inline;
	  	 margin-bottom: 10px;
	  	 margin-top: 5px;
	  	 padding: 0;
		 border: 1px solid #ced4da;
		 transition: box-shadow 0.3s, border 0.3s;
		 border-radius: 3px;
  	}
  	label {
  		font-weight: bold;
  		color: #000; 
  		display: inline-block; 
  		width: 150px;
  		padding: 5px;
  		 }

  	.boton {
  		margin-top: 5px;
  	}

 </style>

{%if flag == 1  %}
	<div class="modal fade formacion " tabindex="-1" role="dialog" aria-labelledby="mymModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content" id="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	        <h3>Edición de Formaciones</h3>
	      </div>

	      <div class="modal-body">
	        
	        <div>La formación ha sigo modificada exitosamente..... redireccionando</div>
	      </div>  

	      <div class="modal-footer">
	        
	        <button type="button" class="btn btn-primary btncerrar" data-dismiss="modal">Cerrar</button>
	      </div>

	    </d	iv><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal formacion-->


{% else %}
	<form  method="post" enctype="multipart/form-data" >{% csrf_token %}
		<div class="container" id="container" style="margin-top: 30px;"><h3>Edición de Formaciones</h3></div>
		<div>
			<label for="nombre">Nombre</label>
			<input type="text" name="nombre" id="nombre" value="{{formacion.nombre}}" required>
		</div>
		<div>
			<label for="nombre">Locación</label>
			<input type="text" name="ubicacion" id="ubicacion" value="{{formacion.ubicacion}}" required>		
		</div>
		<div>
			<label for="nombre">Inicio - Fin</label>	
			<input id="inicio" type="date"   name="inicio"  value="{{formacion.inicio|date:'Y-m-d'}}" required/><!-- {{formacion.inicio}} -->
			<input id="fin" type="date"  name="fin"  value="{{formacion.fin|date:'Y-m-d'}}" required /><!-- {{formacion.fin}} -->
		</div>

		<div>		
			<input  style="margin-left: 200px; margin-top: 10px" class=" btn btn-success" type="submit" value="Guardar" id="filtrar" name="filtrar" />
		</div>
	</form>

{% endif %}

<script type="text/javascript">
var flag = "{{flag}}";

$( document ).ready(function() {
    console.log( flag );

    if(flag == 1){
    $('.formacion').modal('show');
    }

    if($('.btncerrar').click(function(){

    	url = "http://cal.cdegaulle.cl/formacionlist";
    	$(location).attr("href",url);
    }));


    $('.formacion').on('hide.bs.modal', function (e) {  
   		url = "http://cal.cdegaulle.cl/formacionlist";
    	$(location).attr("href",url);
	});
});

</script>

{% endblock  %}