{% extends "edt/base.html" %}
{% load staticfiles %}
<!-- ... -->
{% block contenido %}
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th>Correlativo</th>
        <th>Funcinario</th>
        <th>Cant Eventos</th>
    </tr>
  </thead>  
{% for evento in eventos %}
    <tbody>
    <tr>
      <td scope="row">{{ forloop.counter}}</td>
      <td>{{evento.nombre}} {{evento.apellido1}} </td>
      <td>{{evento.cant_eventos}} </td>
    </tr>
  </tbody>

{% endfor %}
</table>
{% endblock  %}
