{% extends "edt/base.html"%}
{% load staticfiles %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/css/component.css" />



{% if usuario.rol.nivel_acceso == 0 %}

{% endif%}
<form method="post" id="el_form">{% csrf_token %}
<div class="filtros">
	<ul>
		<li>{{form.funcionario.errors}}
			<label class="label label-info" >Funcionario </label>
			{{form.funcionario}}
		</li>
		<li>{{form.tipo.errors}}
			<label class="label label-info" >Tipo de Licencia</label>
			{{form.tipo}}
		</li>
		<li>{{form.reposo.errors}}
			<label class="label label-info" >Características del Reposo</label>
			{{form.reposo}}
		</li>
		<li>{{form.especialidad.errors}}
			<label class="label label-info" >Especialidad </label>
			{{form.especialidad}}
		</li>
		<li>{{form.medico.errors}}
			<label class="label label-info" >Identificación del Profesional</label>
			{{form.medico}}
		</li>
		<li>{{form.cantidad_dias.errors}}
			<label class="label label-info" >Dias de Licencia</label>
			{{form.cantidad_dias}}
		</li>

		<li>{{form.inicio.errors}}
		 	<label class="label label-info" >Duración</label>
			<input id="inicio" type="date" placeholder="Fecha de inicio "  name="inicio"/>
		 	<input id="fin" type="date" placeholder="Fecha de termino " name="fin" readonly />
		</li>
	

		<li class="botfiltro">
	     
	      <input class=" btn btn-danger" type="submit" value="Guardar" id="guardar" name="Guardar" />

	    </li>

    </ul>
</div>
</form>


<script type="text/javascript">
var es_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    if(es_chrome){
		console.log("El navegador que se está utilizando es Chrome");
    }
var es_firefox = navigator.userAgent.toLowerCase().indexOf('firefox') > -1;
    if(es_firefox){
    	console.log("El navegador que se está utilizando es Firefox");
    }    


var registrado = false;
var mensaje = 'El funcionario ya registra una licencia en esa fecha';

$(document).ready(function(){
	$("#guardar").bind("click", function(e){
      
      if (validaFormulario() == false){
      		e.preventDefault();
     	 }

  	});

	$("#id_funcionario").change(revisarDisponibilidad);
	$("#inicio").change(revisarDisponibilidad);
	$("#inicio").change(fechaTermino);

	$("#el_form").submit(revisarForm)
	$('#id_cantidad_dias').attr('min',1);

	$funcionario = $("#id_funcionario");
	$tipo = $("#id_tipo");
	$reposo = $("#id_reposo");
	$especialidad = $("#id_especialidad");
	$medico = $("#id_medico");
	$diaslicencia = $("#id_cantidad_dias");
	$fecha = $('#inicio');


});

function validaFormulario(){
	
	var funcionario = $funcionario.val();
    console.log('Funcionario'+' '+funcionario); 
    if(funcionario == null || funcionario == 0){
      alert('ATENCIÓN!! : Debe seleccionar un funcionario');
      return false;
    }

    var tipo = $tipo.val();
    console.log('tipo' + ' '+ tipo);
    if(tipo == null || tipo == ''){
    	alert('ATENCIÓN!! : Debe seleccionar un Tipo de licencia');
    	return false;
    }

    var reposo = $reposo.val();
    console.log('reposo' +' '+ reposo);
    if (reposo == null || reposo == ''){
    	alert('ATENCIÓN!! : Debe seleccionar un Tipo de reposo');
    	return false;
    }

    var especialidad = $especialidad.val();
    console.log('especialidad' +' '+ especialidad);
    if (especialidad == null || especialidad == ''){
    	alert('ATENCIÓN!! : Debe seleccionar especialidad');
    	return false;
    }

    var medico = $medico.val();
    console.log('medico'+' '+medico);
    if (medico==null || medico==''){
    	alert('ATENCIÓN!! : Debe ingresar el nombre del medico tratante');
    	return false;

    }	


    var diaslicencia = $diaslicencia.val();
    console.log('Dias Licencia'+' '+ diaslicencia);
    if (diaslicencia == null || diaslicencia < 1){
    	alert('ATENCIÓN!! : La cantidad de dias de licencia debe ser mayor a 0');
    	return false;
    }

    var fecha = $fecha.val();
    console.log('fecha : '+' '+ fecha);
    if (fecha == null || fecha=='' ){
    	alert("ATENCIÓN!! : Ingrese la fecha de inicio de licencia");
    	return false;
    }

}


function revisarForm(e){
	if(registrado){
		e.preventDefault()
		alert(mensaje);
	}
}

function revisarDisponibilidad(){
	console.log("revisando disponibilidad");
	console.log(registrado);
	var id_funcionario = $("#id_funcionario").val(),
		inicio = $("#inicio").val(),
		fin = $("#fin").val();

	if(id_funcionario != "" 
		&& inicio != ""
		&& fin != ""){
		consultarDisponibilidad(id_funcionario, inicio, fin)
	}
}

function consultarDisponibilidad(funcionario, inicio, fin){
	$.get("/licencia/validar",{
		funcionario: funcionario,
		inicio: inicio,
		fin: fin
	}, function(respuesta){
		registrado = respuesta.registrado;

		if(respuesta.registrado){
			alert(mensaje);
		}
	})
}

function fechaTermino(){
	var iniciolic = $("#inicio").val();
	var diaslic = $("#id_cantidad_dias").val();

	console.log(iniciolic);
	console.log(diaslic);

	if (iniciolic != "" && diaslic != " "){
		 sumaFecha(iniciolic,diaslic)
	}
}

function sumaFecha(iniciolic,diaslic)
{
	 
	 var parts = iniciolic.split('-');
	 var Fecha = new Date(parts[0], parts[1] - 1, parts[2]);
	 var sFecha = fecha || (Fecha.getDate() + "-" + (Fecha.getMonth() +1) + "-" + Fecha.getFullYear());
	 var sep = sFecha.indexOf('-') != -1 ? '-' : '-';
	 var aFecha = sFecha.split(sep);
	 var fecha = aFecha[2]+'-'+aFecha[1]+'-'+aFecha[0];
	 fecha= new Date(fecha);
	 fecha.setDate(fecha.getDate()+parseInt(diaslic));
	 var anno=fecha.getFullYear();
	 var mes= fecha.getMonth()+1;
	 
	 if (es_chrome){
	 	var dia= fecha.getDate()-1;
	 }

	 if(es_firefox){
	 	var dia= fecha.getDate();
	 }
	 
	 mes = (mes < 10) ? ("0" + mes) : mes;
	 dia = (dia < 10) ? ("0" + dia) : dia;
	 var fechaFinal = anno+sep+mes+sep+dia;
	 console.log(fechaFinal);
	 document.getElementById("fin").value = fechaFinal;
	 return (fechaFinal);
 }

/*$('#compact_mode1').periodpicker({
	cells: [1, 1],
    withoutBottomPanel: true,
    lang: 'es',
    yearsLine: false,
    title: false,
    closeButton: false,
    formatDate: 'YYYY-MM-DD 00:00:00',
    fullsizeButton: false
});

$('#compact_mode2').periodpicker({
	cells: [1, 1],
    withoutBottomPanel: true,
    lang: 'es',
    yearsLine: false,
    title: false,
    closeButton: false,
    formatDate: 'YYYY-MM-DD 23:59:59',
    fullsizeButton: false
});*/



</script>

{% endblock  %}