{% extends "edt/base.html" %}
{% load staticfiles %}
<!-- ... -->
{% block contenido %}
{{form.errors}}
<form id="main" class="form-horizontal" action="/urlcalendario/" method="post" enctype="multipart/form-data">
	<div  class="permiso" >
		<p>
		<label for="tipo" >Tipo de Permiso<br/> a solicitar  </label>
		{{form.tipo}}
		</p>

		<p class="devuelve_horas">
		        <label for="fecha_devuelve_horas">Me comprometo a recuperar <br/> la(s) hora(s) </label>
			{{form.devuelve_horas}}
		</p>

		<p class="sueldo">
		        <label for="sueldo">Solicitud con o sin <br/>goce de sueldo</label>
			{{form.sueldo}}
		</p>

		
		
	</div>
	<div class="permiso">
	<p>
		<label for="motivo" >Motivo</label>
		{{form.motivo}}
		</p>		

		<p><label for="comentario">Comentario:</label>
		<textarea class="comentario" name="comentario"></textarea>
		</p>

		<p class="reemplazante">
		        <label for="reemplazante">Propuesta de Reemplazante</label>
			{{form.reemplazante}}
		</p>

		<p class="documento_adjunto">
		        <label for="documento_adjunto">Documento adjunto</label>
		        			{{form.documento_adjunto}}
		</p>		

	</div>	
	<div id='calendar'></div>
		<input type="hidden" id="calendario-data" name="data-calendario">

	<input class="btn btn-success btn-lg" type="submit" value="Siguiente" id="botonCalendario"/>
	</form>
<script>
//por ahora aca, a futuro un poco mas ordenado
var seleccionados = [];
$(document).ready(function(){
	$( "input[type=file]" ).last().addClass( "custom-file-input" );
	$('#calendar').fullCalendar({
       // put your options and callbacks here   
       selectable:true,
       selectHelper:true,
       unselectAuto:false,
       minTime:"06:00:00",
       maxTime : '21:00:00',
       height: "auto",
       lang: 'es',
       defaultView: 'agendaWeek',
       schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
       header:
	       {
	       left:   'title',
	       center: '',
	       right:  'month agendaWeek agendaDay  prev,next'
	       },
       weekends: false,
       businessHours:true, 
       businessHours:
	       {
		   start: '08:00', // a start time (10am in this example)
	   	   end: '19:30', // an end time (6pm in this example)
	   	   dow: [ 1, 2, 3, 4 ,5]	
	   	   },
	events: 'http://cal.cdegaulle.cl/wsCalendari/',
	eventAfterRender: function(event,element){
		if(event.used){
			$(element).css('background','red');
			$(element).css('font-weight', 'bold');
			$(element).css('border-color','black');
			$(element).css('border','3');
			}	
	},
	 
   	   eventClick: function(event){
	   	//revisa si no esta en la lista
	   if(seleccionados.indexOf(event.id) == -1 && (event.used == false))  {
			seleccionados.push(event.id);
			$(this).css('background', '#00FF05');
			$(this).css('font-weight', 'bold');
			$(this).css('color', 'black');

		}else if (event.used == false){ // si ya esta lo quitamos y reseteamos el color
									
			seleccionados.splice(seleccionados.indexOf(event.id),1);
			$(this).css('background', '#3a87ad');
			$(this).css('color', '#ffffff');
			$(this).css('font-weight', 'bold');
			

			}
				//console.log(event.start);
				console.log(seleccionados);	
								}, // end fullcalendar       						 		
		})//end function 
})// end ready
</script>
<script type="text/javascript">
$(document).ready(function(){
	$("#main").submit(function(e){
		$("#calendario-data").val(JSON.stringify(seleccionados));

		//
		//e.preventDefault();
	});
});
</script>   
{% endblock  %}
