{% extends "edt/base.html"%}
{% load staticfiles %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
<div class="pxp" ><h4>permisos</h4>
	<table class=" table-bordered table-hover bgeneral TFtable" >
            <thead>
                <tr>  
                  <th></th>
                  <th>Fecha</th>
                  <th>Tipo</th>
                  <th>Horas solicitadas</th>
                  <th>Horas Aprobadas</th>
                  <th>Horas Rechazadas</th>
                  <th>Horas a Recuperar Acumuladas</th>
                  <th>Horas Recuperadas</th>
                  <th>Saldo Horas por Recuperar</th>                  
                  <th>Horas por Descontar Acumuladas</th>
                  <th>Horas Descontadas</th>
                  <th>Saldo Horas por Descontar</th>
                  <th>Horas sin Recuperación con Goce de Sueldo</th>
                  <th>Horas pendientes de Revisión</th>                  
                </tr>
              </thead>
            <tbody>
{% for hora in horas %}
      <tr {% if  hora.permiso.estado.id == 6 %} class='anulado' {% endif %} >
                <td class="horas">
                  <a class="list-group-item" href="{% url 'edt.views.verpermiso2' hora.permiso.pk %}"> {{forloop.counter}}</a>
                </td>
          <td class="horas">{{ hora.permiso.primerEvento.numero_evento.start |date:"d F Y" }}</td>                  
                <td class="horas">{{hora.permiso.tipo}}</td>
                <td class="horas negrita">{{hora.horas_solicitadas}}</td>
                <td class="horas">{{hora.horas_aprobadas}}</td>
                <td class="horas">{{hora.horas_rechazadas}}</td>
                <td class="horas">{{hora.horas_por_devolver_acumuladas}}</td>           
                <td class="horas">{{hora.horas_devueltas}}</td>
                <td class="horas negrita">{{hora.horas_por_devolver}}</td>
                <td class="horas">{{hora.horas_descontar_acumuladas}}</td>
                <td class="horas">{{hora.horas_descontadas}}</td>                
                <td class="horas negrita">{{hora.horas_descontar}}</td>
                <td class="horas">{{hora.horas_sin_recuperacion_con_goce}}</td>
                <td class="horas">{{hora.horas_pendientes_por_aprobar}}</td>
                              
            </tr>

{% endfor %}
</tbody>    
    </table>
	
</div>	        
{% endblock  %}
