{% extends  "edt/base.html" %}
{% load staticfiles %}

{% block contenido %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div id="resolucion" class="msg-comprobante" {% if resolucion.get_respuesta_display == 'Aprobado' %} class="msg-exito"{% elif resolucion.get_respuesta_display == 'Rechazado' %} class="msg-error" {% else%}class="msg-solicitud" {% endif%}>
<ul class="list-group">
	<li class="list-group-item active"  ><h4 style="color:#FFFFFF !important;">Permiso administrativo N° {{permiso.id}} </h4></li>
	<li class="list-group-item">Solicitante : {{permiso.usuario.nombre}},{{permiso.usuario.apellido}}</li>
	<li class="list-group-item">Rut : {{permiso.usuario.rut}}-{{permiso.usuario.dv}}</li>
	<li class="list-group-item">Fecha de solicitud : {{permiso.fecha_creacion|date:"d F Y "}}</li>
	<li class="list-group-item">Reemplazante : {{permiso.reemplazante}}</li>
	<li class="list-group-item">Archivo Adjunto : {% if permiso.documento_adjunto.name %} <a target="_blank" href="/media/{{permiso.documento_adjunto}}">Ver Documento</a> {% else %} Sin documento adjunto{% endif %} </li>
	<li class="list-group-item">Estado  :
					  {% if resolucion.get_respuesta_display == 'Aprobado' %} 
							<span id="verde">{{resolucion.get_respuesta_display}}</span>
					  {% elif resolucion.get_respuesta_display == 'Rechazado' %}
					  		<span id="rojo" >{{resolucion.get_respuesta_display}}</span>
					  {% else %}
					  		<span id="azul" >En espera se revisión</span>		  			
					  {% endif %}			
	 </li>
	{% if resolucion.get_respuesta_display == 'Rechazado' %}<li class="list-group-item">Motivo : {{resolucion.razon}}</li>{% endif%}

</ul>
<ul class="list-group">
	<li class="list-group-item active"  ><h4 style="color:#FFFFFF !important;">Detalle de Solicitud</h4></li>
	{% for eventoObj in permiso.eventos_en_permisos_ordenados %}	

	<li class="list-group-item" >
		<ul class="detpermiso">
			<li class="detpermisofecha" >{{eventoObj.numero_evento.start|date:"D d M "}}</li>
			<li class="detpermisoinicio" >{{eventoObj.numero_evento.start|timezone:"America/Santiago"|date:"G:i"}}</li>
			<input type="hidden" value="{{eventoObj.numero_evento}}">
			<li>-</li>
			<li class="detpermisofin" >{{eventoObj.numero_evento.end|timezone:"America/Santiago"|date:"G:i"}}</li>
		</ul>	
	
	</li>
	{% endfor %}
	<li class="list-group-item" >
	<span class="badge">{% if permiso.usuario.jefatura.id == 1 or permiso.usuario.jefatura.id == 6 or permiso.usuario.jefatura.id == 7 %} Total{{"  "}}{{permiso.horas_solicitadas}} {% else %}
							   Total{{"  "}}{{permiso.horas_solicitadas}}{{"  Bloques Solicitados"}} 
				        {% endif %}</span>
	</li>
</ul>
</div>
{% endblock %}